<aside class="main-sidebar sidebar-dark-primary elevation-4">

    <a href="index3.html" class="brand-link">
        <span class="brand-text font-weight-light">Loja do Luiz Marcelo</span>
    </a>

    <div class="sidebar os-host os-theme-light os-host-overflow os-host-overflow-y os-host-resize-disabled os-host-transition os-host-scrollbar-horizontal-hidden">
        <div class="os-resize-observer-host observed">
            <div class="os-resize-observer" style="left: 0px; right: auto;"></div>
        </div>
        
        <div class="os-size-auto-observer observed" style="height: calc(100% + 1px); float: left;">
            <div class="os-resize-observer"></div>
        </div>

        <div class="os-content-glue"></div>
        <div class="os-padding">
            <div 
                class="os-viewport os-viewport-native-scrollbars-invisible">
            <div class="os-content" style="padding: 0px 8px; height: 100%; width: 100%;">
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                        <li class="nav-item">
                            <a href="pages/calendar.html" class="nav-link">
                                <p>
                                    Usuários
                                   
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/gallery.html" class="nav-link">
                               <p>
                                    Productos
                                </p>
                            </a>
                        </li>   
                    </ul>
                </nav>
            </div>
        </div>
        </div>

</aside>